@import "../../style/__colors";

#sidebar {
  margin-top: 14px;
  width: 275px;
  max-width: 275px;
  padding-left: 10px;
  .nav-items {
    ul {
      margin-top: 10px;
      li {
        width: 100%;
        position: relative;
        height: 60px;
        padding: 17px 0px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:not(.btn-tweet):hover {
          background-color: $dark3;
          border-radius: 20px;
        }

        &.btn-tweet {
          button {
            height: 49px;
            width: 100%;
            max-width: 228px;
            margin-top: 9px;
            background-color: $primary-blue;
            border-radius: 9999px;
            cursor: pointer;
            font-weight: 700;
            letter-spacing: 1.5px;
            &:hover {
              opacity: 0.8;
            }
          }
        }
        span {
          position: absolute;
          left: 60px;
          font-weight: 700;
        }
      }
    }
  }
}
