@import "../../style/__colors";

#result {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid $dark4;
  padding: 10px 15px;
  &:hover {
    background-color: $dark2;
    opacity: 0.9;
    cursor: pointer;
  }
  .r-l {
    img {
      width: 49px;
      height: 49px;
      border-radius: 50%;
    }
  }
  .r-r {
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    main {
      margin-top: 5px;
    }
  }
}
